footer{
    height: 320px;
    padding: 30px 55px 30px 100px;
    background: #2F2842 !important;
    color:white;
    margin-top:50px;
}

.footer-left{
    width: 400px;
    min-width: 400px;
    min-width: 400px;
    box-sizing: border-box;
}

.footer-right{

}

.footer-icon{
    width: 22.5px;
    margin-left: 27.5px;
}
.footer-box{
    width: 185px;
    max-width: 185px;
    margin-right: 15px;
}

.footer-text-sm{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: white;
    margin-bottom: 10px;
}

.footer-text-xl{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: white;
    margin-bottom: 10px;
}
.footer-text-xl:hover, .footer-text-sm:hover{
    color: #B80058;
    text-decoration: none;
}
